#root {
  min-width: 375px;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 0.33rem;
  text-align: center;
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  gap: 0.33rem;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* My styles */
a, .navWord {
 text-decoration: underline;
}

button {
  margin: 0 auto;
  max-width: 50%;
}

body {
  height: 100vh;
}

header,
footer,
nav {
  display: flex;
  gap: 10px;
}

header,
footer {
  background-color: rgba(11, 0, 166, 0.905);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0.33rem;
}

.page {
  background-color: rgb(202, 202, 246);
  color: black;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0.33rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
}

/* .screenLogin {
  background-color: rgba(255, 106, 106, 0.522);
}

.screenSignup {
  background-color: rgba(255, 194, 61, 0.522);
}

.screenPostList {
  background-color: rgba(255, 243, 106, 0.522);
}



.screenPostForm {
  background-color: rgba(106, 255, 245, 0.522);
} */

/* .screenPostDetail {
  background-color: rgba(218, 238, 255, 0.744);
} */

.postList,
.commentList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
}

.postPreview,
.commentLI {
  background-color: rgba(218, 238, 255, 0.744);
  padding: 0.33rem;
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
}

.status {
  font-weight: bold;
  color: white;
  width: min-content;
  margin: 0 auto;
  padding: 2px;
  border-radius: 5px;
}

.published {
  background-color: green;
}
.unpublished {
  background-color: rgb(186, 0, 0);
}

form {
  background-color: rgba(226, 226, 226, 0.426);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.33rem;
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userForm,
.postForm {
  display: flex;
  flex-direction: column;
}
